In [ ]:
import importlib
import sys
sys.path.insert(0, '/cndd/fangming/CEMBA/snmcseq_dev')

from __init__ import *
from __init__jupyterlab import *
import datetime
from scipy import sparse
import collections
import itertools
import re
import fbpca
import pickle
import scipy.cluster.hierarchy as sch
from sklearn.metrics import euclidean_distances
import h5py

import snmcseq_utils
importlib.reload(snmcseq_utils)
import CEMBA_run_tsne
import CEMBA_clst_utils
import SCF_utils
importlib.reload(SCF_utils)

import seaborn as sns 
import matplotlib.pyplot as plt

In [ ]:
f = '/cndd/fangming/CEMBA/data/MOp_all/data_freeze/snmc_and_snatac/metadata/MOp_Metadata.tsv.gz'
df = pd.read_csv(f, sep='\t')
print(df.shape)
df.head()

In [ ]:
df.columns

### df.describe()

In [6]:
f = '/cndd/fangming/CEMBA/data/MOp_all/data_freeze/snmc_and_snatac/metadata/CEMBA_MOp.barcode.txt'
df = pd.read_csv(f, sep='\t')
print(df.shape)
df.head()

(81196, 10)

,sample,barcode,TN,UM,PP,UQ,CM,tsne1,tsne2,cluster
0,CEMBA171206_3C,AGCGATAGAACCAGGTAAGAGATGTATAGCCT,138330,128263,128039,64868,0,7.605117,0.697672,4
1,CEMBA171206_3C,AGCGATAGAACCAGGTAATGACGTCAGGACGT,159133,146663,146348,69167,0,-9.492925,-6.200938,16
2,CEMBA171206_3C,AGCGATAGAACCAGGTAGGATAACATAGAGGC,19152,17586,17545,8348,0,14.227358,-11.023748,19
3,CEMBA171206_3C,AGCGATAGAACCAGGTATAGCCTTAGGCGAAG,14876,13837,13801,6583,0,5.144768,4.790674,4
4,CEMBA171206_3C,AGCGATAGAACCAGGTATAGCCTTATAGAGGC,28532,26303,26202,12437,0,5.218895,-8.674734,9

In [7]:
df.describe()

,TN,UM,PP,UQ,CM,tsne1,tsne2,cluster
count,81196.000000,81196.000000,81196.000000,81196.000000,81196.0,8.119600e+04,8.119600e+04,81196.000000
mean,9510.887839,8795.968742,8776.872740,5710.886004,0.0,-1.613545e-15,-7.179675e-16,10.195712
std,11446.004516,10612.586840,10593.387228,6083.379783,0.0,1.605190e+01,1.537511e+01,6.502813
min,1066.000000,1012.000000,1009.000000,1001.000000,0.0,-3.327527e+01,-3.188294e+01,1.000000
25%,3230.000000,2950.000000,2942.000000,2074.000000,0.0,-1.240074e+01,-1.204194e+01,4.000000
50%,5897.000000,5437.000000,5424.000000,3766.000000,0.0,-5.344515e-01,-7.357624e-01,9.000000
75%,11019.000000,10242.000000,10222.000000,6966.000000,0.0,1.278916e+01,1.229007e+01,16.000000
max,226341.000000,199043.000000,198630.000000,95585.000000,0.0,3.524294e+01,3.402758e+01,21.000000